.Signup{
align-self: center;
align-content: center;
display: flex;
flex-direction: column;
background-color: rgba(126, 124, 124, 0.175);
box-shadow: 0px 0px 30px 10px rgba(13, 13, 13, 0.277);
border-radius: 1rem;
margin-left: 25rem;
padding: 2rem;

h2{
margin-left: 6rem;
}
form{
    padding: 1rem;
    padding-bottom: 1rem;
    
}
input{
  margin-bottom: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;

 
  }
  .eye-icon{
    margin-left: -1.4rem;
    color: #6d6e70;
    font-size: 12px;
    cursor:pointer;
  }
  label{

   margin-bottom: 1rem;
   
    span{
        color: rgb(221, 13, 13);
      }
     
  }

 

  .submit{
    background-color: #5183fe;
    color: white;
    border:none;
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 1rem;
    cursor:pointer;
    margin-left: 12rem;
    outline: none;
    font-size: 16px;
  }
    .submit:hover{
        background-color: #4478fb;
    }

    .cancel-signup{
        background-color: #6d6e70;
        color: white;
        border:none;
        border-radius: 8px;
       padding: 5px 20px;
       
        cursor:pointer;
        font-size: 16px;
        outline: none;
        
    }
  
  
}
