.add-user{
    background-color: rgba(54, 55, 56, 0.894);
    width:310px;
    align-self: center;
    position:absolute;
    padding: 3rem 1rem;
    margin-top: -30rem;
    margin-left: 31rem;
    border-radius: 1rem;
}
.add-by-name{
    display: flex;
    flex-direction: row;
    gap :0.6rem;

    .input-name{
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: rgba(243, 248, 253, 0.932);
    }
    .input-search-btn{
        color: white;
        border:none;
        border-radius: 5px;
        padding: 5px 12px;
        font-size: 16px;
        background-color: rgb(8, 124, 219);
    }
}